<template>
    <div>
        <h1>Blackjack</h1>
        <p id="blackjack-message">Press "Start Game" to begin.</p>
        
        <div id="player-hand" class="hand-container">
            <h2>Player's Hand</h2>
            <div id="player-cards"></div>
        </div>

        <div id="dealer-hand" class="hand-container">
            <h2>Dealer's Hand</h2>
            <div id="dealer-cards"></div>
        </div>

        <button id="start-game">Start Game</button>
        <button id="hit" disabled>Hit</button>
        <button id="stand" disabled>Stand</button>
    </div>
</template>